<div class="widget widget-small card w-100 mt-2 h-auto">
    <div class="card-body">
        <h5 class="card-title"><i18n>Last connected</i18n></h5>
        <div class="card-text">
            <table class="datagrid table table-hover table-sm">
                <tbody>

                {% for c in last_connected %}
                <tr>
                    <td class="min">
                        <img class="img-avatar img-avatar-sm border me-1" src="{{ c.avatar }}">
                        {{ c.login }} #{{ c.id }} ({{ c.group_name }})
                    </td>
                    <td class="min">
                        {{ c.lastname }} {{ c.firstname }}
                    </td>
                    <td>
                        {% if session('auth.format_datetime') is empty %}
                            {{ c.last_connection_date|date(config('format/datetime')) }}
                        {% else %}
                            {{ c.last_connection_date|date(session('auth.format_datetime')) }}
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>