<div class="widget widget-small card w-100 mt-2 h-auto">
    <div class="card-body">
        <h5 class="card-title"><i18n>RECENT PAGES</i18n></h5>
        <div class="card-text" style="max-height: 400px; overflow-y: auto">
            <table class="datagrid table table-hover table-sm table-condensed">
                <thead>
                <tr>
                    <th class="min"><i18n>Page</i18n></th>
                    <th></th>
                    <th class="min"><i18n>Status</i18n></th>
                    <th class="min"><i18n>Last update</i18n></th>
                    <th class="min"><i18n>Author</i18n></th>
                    <th class="min text-center"><i18n>Actions</i18n></th>
                </tr>
                </thead>

                <tbody>

                {% for p in pages %}
                    <tr>
                        <td>
                            <a href="/@backend/page/edit/{{ p.id }}/">
                                <img style="width:100px; height:50px; object-fit:cover" class="border" src="{{ p.featured_image }}">
                            </a>
                        </td>
                        <td>
                            {{ p.name }}<br>
                            <a href="{{ p.absolute_url }}" target="_blank"><small class="text-muted">{{ p.absolute_url }}</small></a>
                        </td>

                        <td class="min">

                            <small class="px-2 py-1 rounded text-center {{ p.status_class }}">
                                <i18n>{{ p.status_label }}</i18n>
                            </small>
                        </td>

                        <td class="min">
                            {% if session('auth.format_datetime') is empty %}
                                {{ p.updated_at|date(config('format/datetime')) }}
                            {% else %}
                                {{ p.updated_at|date(session('auth.format_datetime')) }}
                            {% endif %}
                        </td>

                        <td class="min">
                            <img class="img-avatar img-avatar-sm border me-1" src="{{ p.user_avatar }}">
                            {{ p.author }}
                        </td>

                        <td class="min text-center">
                            <a href="/@backend/page/edit/{{ p.id }}/" class="btn btn-sm" title="<i18n>Edit</i18n>"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>