<aside class="app-menu">

    <ul>

        <li class="app-menu-search">
            <input type="search" class="form-control input-plugin-search" onfocus="this.select()" placeholder="<i18n>Search</i18n>...">
        </li>

        <li>
            <a class="sidebar-item" href="/@backend/" data-no-swupX="true"><i class="bi bi-speedometer2"></i> <i18n>Dashboard</i18n></a>
        </li>

        {% for category,plugins in menu %}
        <li>
            <a class="sidebar-parent" href="#"><i18n>{{ category }}</i18n></a>

            <ul>

                {% for plugin in plugins %}
                <li data-plugin-id="{{ plugin.id }}" data-plugin-icon="{{ plugin.icon }}" data-plugin-name="{{ plugin.name }}"  data-plugin-name-i18n="<i18n>{{ plugin.name }}</i18n>" data-plugin-url="{{ plugin.url }}">
                    <a class="sidebar-item" href="{{ plugin.url }}"><i class="{{ plugin.icon }}"></i> <i18n>{{ plugin.name }}</i18n></a>
                </li>
                {% endfor %}

            </ul>

        </li>
        {% endfor %}

    </ul>

</aside>


