<style type="text/css">
body {background: #9000F9; font-family: arial; font-size: 13px; padding: 15px 10px; text-align: center}
.header {background: #fff; text-align: left; border-bottom: 1px solid #eee; padding-bottom: 10px;}
.logo {max-height: 80px}
.content { text-align: left; padding: 20px 20px;}
.footer { text-align: center; padding: 20px 0px;}
.container {background: white; width: 650px; max-width:650px; padding: 10px; margin: auto;  text-align: left}
a {color: cornflowerblue;}
.final {font-size: 11px; color: #666; text-align: center; padding: 10px 0;}
</style>

<div class="container">

    <div class="header">
        <a href="{{ config("url") }}"><img class="logo" src="{{ vars.logo }}"></a>
    </div>

    <div class="content">
        {{ contents|raw }}
    </div>

    <div class="footer">
        &copy; {{ config("name") }} - <i18n>all rights reserved</i18n>
    </div>

    <div class="final">
        Ip : {{ IP }}
    </div>

</div>


