{% extends '/core/theme/core-admin/plugin.twig' %}

{% block plugin_content %}

<form action="" method="get">
<div class="row bg-light p-2">
    <div class="col-1 pt-1 text-end">Zone</div>
    <div class="col-1">

        <select name="xcore_page_zone_id" class="form-select">
        {% for z in zones %}
            <option value="{{ z.id }}" {% if z.id == xcore_page_zone_id %}selected{% endif %}><i18n>{{ z.name }}</i18n></option>

        {% endfor %}
        </select>
    </div>

    <div class="col-1 pt-1 text-end">Language</div>
    <div class="col-1">
        <select name="language" class="form-select">
        {% for l in langs %}
            <option value="{{ l[0] }}" {% if l[0] == language %}selected{% endif %}><i18n>{{ l[1] }}</i18n></option>
        {% endfor %}
        </select>
    </div>

    <div class="col-1">
        <input type="submit" class="btn btn-primary" value="<i18n>Submit</i18n>">
    </div>
</div>
</form>


<div class="row">
    <div class="col py-4">

        <a href="add/" class="btn btn-primary mb-3"><i class="bi bi-plus-circle"></i> <i18n>Add</i18n> page</a>

        <div id="pages" class="tree-wrapper">

            {% macro render_menu(pages, level) %}

                <ul {% if level == 0 %}class="list-unstyled"{% endif %}>
                    {% for page in pages %}
                        <li class="user-select-none">

                            {% if page._childrens is empty %}

                                <a class="page" href="#">{{ page.name }}</a>

                            {% else %}
                            <details>
                                <summary><a class="page" href="#">{{ page.name }}</a></summary>
                                {{ _self.render_menu(page._childrens, 1) }}
                            </details>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endmacro %}

            {{ _self.render_menu(pages, 0) }}

        </div>

    </div>
</div>



<script src="@assets_js/tree.js"></script>

{% endblock plugin_content %}