{% extends '/core/theme/core-admin/base.twig' %}

{% block title %}Login{% endblock title %}
{% block body_class %}auth auth-login{% endblock %}

{% block header %}{% endblock header %}
{% block menu %}{% endblock menu %}
{% block breadcrumbs %}{% endblock breadcrumbs %}


{% block content %}

<div id="login-form" class="container-fluid login-form-wrapper">

    <div class="d-flex justify-content-center">

        <div class="col-11 col-sm-10 col-md-8 col-lg-5 col-xl-3  shadow-lg p-5 box-form">

            <div class="text-center">
                <h3 class="text-primary mb-4"><i18n>Sign In</i18n></h3>
            </div>

            <form method="post" action="" class="form-ajax" data-force-error-message="<i18n>credentials not found</i18n>" data-redirect-url="{{ get('r', '/' ~ config('backend/dirname') ~ '/' ) }}">

                <div class="form-error mb-3 text-center text-danger"></div>

                <div class="row">
                    <div class="col mb-3">
                        <input type="{{ u_type }}" name="{{ u_key }}" id="{{ u_key }}" class="form-control" placeholder="<i18n>{{ u_placeholder }}</i18n>" autofocus>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <input type="password" name="password" id="password" class="form-control" placeholder="<i18n>Password</i18n>">
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <button class="btn w-100 btn-primary text-center my-3 btn-submit" type="submit">
                            <i class="spinner spinner-border spinner-border-sm text-white"></i> <i18n>Login</i18n>
                        </button>
                    </div>

                    <p class="text-center"><a href="{{ path(password_route) }}"><i18n>Forgot your password?</i18n></a></p>
                </div>

            </form>
        </div>
    </div>

</div>



{% endblock content %}