<div id="scrolly">
    <a href="#">
        <i class="bi bi-arrow-up-circle"></i>
    </a>
</div>

<header class="container-fluid app-header">
    <div class="row">

        <div class="col-2 col-logo">
            <a href="/@backend/" target="_self"><img src="{{ config("backend/logo") }}"></a>
        </div>

        {#
        <div class="col-1 col-menu-btn">
            <a href="#" class="btn-header-menu-toggle" accesskey="m" tabindex="-1"><i class="bi bi-list"></i></a>
        </div>
        #}

        <div class="col col-user text-end">


            {% if config("backend/header_show_website") == true %}
            <div class="btn-group btn-group-icon">
                <a target="_blank" href="{{ config('url') }}" data-bs-placement="bottom" data-bs-toggle="tooltip" title="<i18n>Website</i18n>" class="btn btn-icon"><i class="bi bi-globe"></i></a>
            </div>
            {% endif %}


            {% for m in config('backend/menu/nav') %}
            <div class="btn-group btn-group-icon">
                <a href="{{ m.action }}" data-bs-placement="left" data-bs-toggle="tooltip" title="{{ m.tooltip }}" class="btn btn-icon" {% for attr,value in m.attributes %} {{ attr }}="{{ value }}" {% endfor%}>
                <i class="{{ m.icon }}"></i>
                </a>
            </div>
            {% endfor %}

            <div class="btn-group">
                <button class="btn btn-icon btn-bookmarks" type="button" id="dropdownMenuBookmarks" data-bs-toggle="dropdown" data-bs-placement="left">
                    <i class="bi bi-bookmark-fill"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-bookmarks">

                    <li class="bookmark-header">
                        <h6 class="dropdown-header"><i18n>My bookmarks</i18n></h6>
                    </li>

                    <template id="bookmark-no-record">
                    <li class="render">
                        <p class="px-5 py-5 text-center text-nowrap">
                            <i18n>You don't have bookmark</i18n>
                        </p>
                    </li>
                    </template>

                    <template id="bookmark-record">
                    <li class="render">
                        [CONTENT]
                    </li>
                    </template>



                </ul>
            </div>







            <div class="btn-group btn-group-user">

                <button class="app-header-badge-user btn btn-user text-left dropdown-toggle" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">

                    <img class="img-avatar me-3 float-start" src="{% if session('auth.avatar_thumb') is empty %}{{ absolute_path(config('dir/avatar')) ~ '/0.png' }}{% else %}{{ session('auth.avatar_thumb') }}{% endif %}">

                    <div class="user-info d-block float-start">
                        <div class="user-name"><span class="user-lastname">{{ session('auth.lastname') }}</span> <span class="user-firstname">{{ session('auth.firstname') }}</span> (#{{ session('auth.id') }})</div>
                        <div class="user-group">{{ session('auth.group_name') }} <i18n>group</i18n></div>
                    </div>


                </button>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-user" aria-labelledby="dropdownMenuUser">

                    {% for m in config('backend/menu/user') %}
                        <li><a class="dropdown-item" href="{{ m.action }}" {% for attr,value in m.attributes %} {{ attr }}="{{ value }}" {% endfor%}><i class="{{ m.icon }}"></i> <i18n>{{ m.text }}</i18n></a></li>
                    {% endfor %}

                    {% if config('backend/menu/user') is not empty %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}

                    <li><a class="dropdown-item" href="/@backend/my-profile/"><i class="bi bi-person-fill"></i> <i18n>My profile</i18n></a></li>




                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-center text-danger" href="/@backend/logout/"><i class="bi bi-box-arrow-right"></i> <i18n>Logout</i18n></a></li>
                </ul>

            </div>


        </div>

    </div>
</header>