<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="UTF-8">
    <meta name="generator" content="Unee v.{{ core_version }}">
    <title><i18n>{% block title %}Admin{% endblock %}</i18n> - {{ APP_TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link type="image/png" sizes="16x16" rel="icon" href="/core/theme/core-admin/assets/img/favicon/abstract-basicons-—-color-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/core/theme/core-admin/assets/img/favicon/abstract-basicons-—-color-32.png">
    <link type="image/png" sizes="128x128" rel="icon" href="/core/theme/core-admin/assets/img/favicon/abstract-basicons-—-color-128.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css">

    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.css">
    <link rel="stylesheet" href="/core/component/datagrid/assets/css/datagrid.css">
    <link rel="stylesheet" href="/core/module/core-frontend/page/assets/css/tree.css">
    <link rel="stylesheet" href="/core/assets/js/loader/loader.css">
    <link rel="stylesheet" href="/core/assets/js/form-ajax/form-ajax.css">
    <link rel="stylesheet" href="/core/assets/js/input-tag-manager/input-tag-manager.css">
    <link rel="stylesheet" href="/core/module/core/auth/assets/css/style.css">
    <link rel="stylesheet" href="/core/theme/core-admin/assets/css/_vars.css">
    <link rel="stylesheet" href="/core/theme/core-admin/assets/css/style.css">
    <link rel="stylesheet" href="/core/assets/css/xtags.css">

    {% for file in config_css %}
        <link rel="stylesheet" href="{{ file }}">
    {% endfor %}

    <script src="/core/assets/js/php.js"></script>
    <script src="/core/assets/js/http.js"></script>
    <script src="/core/assets/js/utils.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/swup@4"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"></script>
    <script src="/core/assets/js/bootbox.locales.min.js"></script>
    <script src="/core/assets/js/bootstrap-5-toast-snackbar/src/toast.js"></script>

    <!-- select-search -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link rel="stylesheet" href="/core/assets/js/select-search/select-search.css">

    <!-- blockee -->
    <link rel="stylesheet" href="/core/assets/js/blockee/blockee.css">
    <script src="/core/assets/js/blockee/blockee-i18n.js"></script>
    <script defer src="/core/assets/js/blockee/blockee.js"></script>
    <!-- /blockee -->

    <!-- dropzone -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <!-- /dropzone -->

    <!-- chart -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- /chart -->

    <!-- color editor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/codemirror.min.css">
    <link rel="stylesheet" href="/core/assets/css/codemirror.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/edit/closebrackets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/edit/matchbrackets.js"></script>


    {% for file in config_js_head %}
        <script src="{{ file }}"></script>
    {% endfor %}

    <script>
    var QUERY_STRING = "{{ url_get_query_string() }}";
    const APP_BACKEND_DIRNAME = '@backend';
    const APP_LOCALE = '@locale';
    const _I18N_CANCEL = '<i18n>Cancel</i18n>';
    const _I18N_SUBMIT = '<i18n>Submit</i18n>';
    const _I18N_I_CONFIRM = '<i18n>Yes, I confirm</i18n>';
    const _I18N_MESSAGE_SAVED = '<i18n>Your information has been correctly saved</i18n>';
    const _I18N_CONFIRMATION = '<i18n>Confirmation</i18n>';
    const _I18N_CONFIRMATION_DELETE_FOLDER = '<i18n>Would you like to delete this folder?</i18n>';
    const _I18N_CONFIRMATION_DELETE_FILE = '<i18n>Would you like to delete this file?</i18n>';
    const _I18N_ENTER_NAME = '<i18n>Please fill a name</i18n>';
    const _I18N_FINISH = '<i18n>Finish</i18n>';

    const _I18N_FILE = '<i18n>File</i18n>';
    const _I18N_TYPE = '<i18n>Type</i18n>';
    const _I18N_SIZE = '<i18n>Size</i18n>';
    const _I18N_DETAILS = '<i18n>Details</i18n>';
    const _I18N_COPY_LINK = '<i18n>Copy link</i18n>';
    const _I18N_OPEN_FILE = '<i18n>Open file</i18n>';
    const _I18N_DOWNLOAD = '<i18n>Download</i18n>';
    const _I18N_SELECT = '<i18n>Select</i18n>';

    const _I18N_SEARCH = '<i18n>Search</i18n>';
    const _I18N_COMBO_NO_RESULT = '<i18n>No results found</i18n>';
    const _I18N_COMBO_NO_CHOICES = '<i18n>No choices to choose from</i18n>';
    const _I18N_COMBO_PRESS_SELECT = '';
    const _I18N_COMBO_UNIQUE_ITEM = '<i18n>Only unique values can be added</i18n>';
    const _I18N_COMBO_ADD_ITEM = '<i18n>Only values matching specific conditions can be added</i18n>';

    </script>

</head>
<body class="backend {% block body_class %}{% endblock %} {% if get('_popup') == 1 %}backend-popup{% endif %}">

{% block content %}
{% endblock content %}

<div id="loader">
    <div class="spinner-border text-warning"></div>
</div>


{# js script #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"></script>
<script src="/core/component/datagrid/assets/js/datagrid.js"></script>
<script src="/core/component/form/assets/js/form.js"></script>
<script src="/core/assets/js/loader/loader.js"></script>
<script src="/core/assets/js/btn-action/btn-action.js"></script>
<script src="/core/assets/js/form-ajax/form-ajax.js"></script>
<script src="/core/assets/js/parent-togglable/parent-togglable.js"></script>
<script src="/core/assets/js/input-tag-manager/input-tag-manager.js"></script>
<script src="/core/module/core/log/assets/js/func.js"></script>
<script src="/core/module/core-backend/user-bookmark/assets/js/func.js"></script>
<script src="/core/theme/core-admin/assets/js/app-func.js"></script>
<script src="/core/theme/core-admin/assets/js/app.js"></script>

{% for file in config_js_body %}
    <script src="{{ file }}"></script>
{% endfor %}


<script>
{% if get('_popup') == 1 and get('_parent-refresh') == 1 %}
$(window).on("beforeunload", function() {
    if (window.opener && !window.opener.closed) {
        window.opener.location.reload();
    }
});
{% endif %}

{% if get('_popup', 0) == 0 %}
const storedScrollPosition = sessionStorage.getItem("poppy_window__scroll_position");
if(storedScrollPosition)
{
    sessionStorage.removeItem("poppy_window__scroll_position");
    setTimeout(function() {
        $(window).scrollTop(storedScrollPosition);
    }, 200);
}
{% endif %}
</script>

</body>
</html>